<!DOCTYPE html>
<html>
{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
  <header>
    <nav>
      <span><a href="{% url 'register' %}">Create Account</a></span>
      <span><a href="{% url 'login' %}">Sign In</a></span>
      <span><a href="{% url 'home' %}">Go home</a></span>
    </nav>
  </header>
  <main>
    <form method="POST" action="{% url 'contact' %}">
      <p id="form-title">Log in</p>
      <p><label for="name">Name: </label></p>
      <input type="text" name="name" id="name" required/>

      <p><label for="email">Email: </label></p>
      <input type="email" name="email" id="email" required/>
      
      <p><label for="message">Message: </label></p>
      <textarea names="message" rows="15" cols="25"></textarea>
      <input type="submit" name="submit" id="submit" value="Send message" required/>
    </form>
  </main>
  <footer><p>Copyright &copy <b>2022</b></p></footer>
</body>

</html>