{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Projects</h1>
<div class="row">
{% for contact in contacts %}
    <div class="col-md-4">
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">{{ contact.username }}</h5>
                <h5 class="card-title">{{ contact.email }}</h5>
                <p class="card-text">{{ contact.brief_message }}</p>
                <a href="{% url 'contact_detail' contact.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}