<!DOCTYPE html>
<html>
{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Sign In</title>
  <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
  <header>
    <nav>
      <span><a href="{% url 'register' %}">Create Account</a></span>
      <span><a href="{% url 'login' %}">Sign In</a></span>
      <span><a href="{% url 'home' %}">Go home</a></span>
    </nav>
  </header>
  <main>
    
    {% if errors is not None %}
      <div class="notification-box">
        {% for error in errors %}
        <div>
          <span class="icon red-icon">&#9888;</span>
          <p class="error-message">{{ error }}</p>
        </div>
        {% endfor %}
      </div>
    {% endif %}
    {% if login_status is not None %}
        <div class="notification-box">
          {% if login_status == "success" %} 
            <div>
              <span class="icon green-icon">&#9888;</span>
              <p class="pass-message">Login Successful!</p>
            </div>
          {% else %}
            <div>
              <span class="icon red-icon">&#9888;</span>
              <p class="error-message">Login Failed!</p>
            </div>
          {% endif %}
        </div>
    {% endif %}

    <form method="POST" action="{% url 'login' %}">
    <p id="form-title">Log in</p>
      {% csrf_token %}
      <p><label for="email">Email: </label></p>
      <input type="email" name="email" id="email" required/>
      <p><label for="password">Password: </label></p>
      <input type="password" name="password" id="password"  required/>
      <input type="submit" name="login" id="submit" value="Sign In" required/>
    </form>
  </main>
  <footer><p>Copyright &copy <b>2022</b></p></footer>
</body>

</html>